.news-list .title {
    font-size: 4rem;
    padding-bottom: 25px;
    margin-bottom: 40px;
    border-bottom: 3px solid;
}

.news-list .tabs {
    display: flex;
    padding-bottom: 20px;
}

.news-list .tabs .tab {
    padding: 10px 20px;
    background: #eee;
    cursor: pointer;
    border-left: 10px solid #ccc;
}

.news-list .tabs .tab:hover,
.news-list .tabs .tab.selected {
    background: #fff;
    border-left-color: #69be28;
}
.news-list .news-items {
    display: flex;
}
.news-list .modern-page-navigation span,
.news-list .modern-page-navigation a {
    padding: 5px;
}